.category_inner{ cursor:pointer; }

.down_srrow {

	background: transparent url(../images/down_arrow.png) no-repeat scroll center bottom;

	display: inline-block;

	width: 25px;

}

.inner_page {

	min-height: 500px;

}

.left_nav ul{

	margin:10px;

}

.left_nav ul li{  background: url(../images/licon.png) no-repeat;  }

.left_nav ul li a{ color: #000;

    display: inline-block;

    line-height: 22px;

    margin-left: 16px;

    margin-top: -4px; }

.left_nav ul li a:hover{ color:#1ab7be; }

.left_nav h4 {

	background: none repeat scroll 0 0 #373c40;

	width: 100%;

	padding: 10px;

	color: #FFF;

	color: #ffffff;

	font-family: "OswaldRegular";

	font-size: 15px;

	margin: 0;

	text-transform: uppercase;

}



.page_content h2 {    

    color: #1ab7be;

    display: inline-block;

    font-family: arial;

    font-size: 24px;

    margin: 0 0 0px;

    padding: 10px 10px;

    width: 100%;

}


img{ max-width:100%; height:auto;}
.customer-service-container{ padding:20px 0;}
.cs-container .text-header{ font-weight:bold; font-size:16px; color:#1ab7be; margin-bottom:8px; display: block;}
.cs-container a:hover{ color:#000; }
.cs-container{ padding:30px 0;}
.cs-container-row{ margin-bottom:25px;}
.cs-container ul{ margin-left:15px; list-style:disc;}
.cs-container ul li{ color:#999;}
.cs-container ul .list-text{ color:#555;}
.cs-search .btn{  min-width:80px; font-weight:bold; color:#fff;}
.cs-search h6{ color:#555; margin-bottom:15px;}
.cs-search .list-group-item{ padding:20px;}
.cs-tabs .cs-tabs-table-left li{ float:none; display:block;}
.cs-tabs .nav-tabs li a{ margin:0; border:0;}
.cs-tabs .nav-tabs>li.active>a, .cs-tabs .nav-tabs>li.active>a:focus, .cs-tabs .nav-tabs>li.active>a:hover{ border:0; background:none;}
.cs-tabs .nav-tabs{ border:0;}
.cs-tabs-table-left{ min-height:300px; border-right:1px solid #ddd; background:#eee;}
.cs-tabs .nav > li > a:hover{ background:none;}
.cs-tabs-table{ border:1px solid #ddd; background:#f9f9f9;}
.cs-tabs-table-left a{ font-weight:bold; color:#000;}
.cs-tabs-table-right a{ font-weight:normal; color:#888; padding:3px 0; display:block;}
.cs-tabs-table-right a:hover{ color:#333;}
